.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px 150px 100px;
    grid-template-areas: "h h h"
    "s c1 c1"
    "s c2 c3"
    "f f f";       
    margin-left: 50%;
}
.header{
 grid-area: h;   
 background:linear-gradient(#7057DA,#7961DC,#8A76E1);	
}
.sidebar{
    grid-area: s;
    background: linear-gradient(#3AD5CD,#35C5BD,#2AA8A1);
}
.content1{
    grid-area: c1;
    background:linear-gradient(#5F60DE,#437FEB,#299DF7);
}
.content2{
    grid-area: c2;
    background: linear-gradient(#5F62E0,#497BE9,#3294F3);
}
.content3{
    grid-area: c3;
    background: linear-gradient(#615FDF,#487BEA,#3393F3);
}
.footer{
    grid-area: f;
    background: linear-gradient(#7057DA,#7A62DC,#8975E1);
}
.container > div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

html, body {
    width: 80%;
    box-sizing: border-box;
    background-color: #ffffff;
    
    height: 90%;
    padding: 10px;
    margin: 0px;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container > div:nth-child(4n) {
    background-color: #ffcc5c;
}